task.json 
OOPC_OPDRACHTEN/1_x/OPDRACHT_1_4/OPDRACHT_A/main.exe
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
OOPC_OPDRACHTEN/3_x/test.exe
C++_OPDRACHTEN/4_x/OPDRACHT_4_3.exe
C++_OPDRACHTEN/1_x/OPDRACHT_1_0.exe
OOPC_OPDRACHTEN/2_x/overerving/main.exe
OOPC_OPDRACHTEN/Catch2/Catch2_2/main.exe
OOPC_OPDRACHTEN/Catch2/Catch2_1/TestCase.exe
OOPC_OPDRACHTEN/RATIONAL_UNIT_TEST/test-rational.exe
OOPC_OPDRACHTEN/2_x/OPDRACHT_2_4/main.exe
